body {
  margin: 0;
  background-color: rgb(12, 12, 12);
  font-family: 'Shadows Into Light', cursive;

}


* {
  color: white;
}

.app {
  width: 80%;
  margin: auto;
}

.word > p,
.message,
.word-answer,
.wrong-chars,
.restart-btn {
  font-size: 35px;
}

.body-container {
  display: flex;
}

.title {
  text-align: center;
  font-size: 50px;
}

.word {
  display: flex;
  justify-content: center;
}

.word > p {
  margin: 0;
  padding: 0 5px;
}

.restart-btn {
  border: none;
  border-radius: 3px;
  font-size: 30px;
  background-color: lightgrey;
  color: black;
  padding: 10px;
  cursor: pointer;
  box-shadow: rgba(224, 224, 224, 0.25) 0px 6px 12px -2px, rgba(224, 224, 224, 0.3) 0px 3px 7px -3px;
  transition: 0.5s ease-out;
}


.restart-btn:hover {
  background-color: whitesmoke;
  box-shadow: rgba(224, 224, 224, 0.25) 0px 14px 28px, rgba(224, 224, 224, 0.22) 0px 10px 10px;
  color: rgb(98, 98, 98);
}

.restart-btn:active {
  background-color: black;
  color: white;
}


.attempts-container {
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.attempts {
  font-size: 45px;
}

.figure-container {
  fill: transparent;
  stroke: whitesmoke;
  stroke-width: 4px;
  stroke-linecap: round;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 5s linear forwards;
}

.line1,
.head,
.body,
.arm1,
.arm2,
.leg1,
.leg2 {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 5s linear forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

.mob-fig-container {
  display: none;
}

.mid-container {
  padding-left: 150px;
  padding-top: 140px;
  width: 440px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .line1 {
  stroke-dasharray: 20;
} */


@media (max-width: 1024px) {
  .title {
    font-size: 50px;
  }

  .figure-container{
    display: none;
  }
  .mob-fig-container {
    display: block;
  }

  .mob-fig-container {
      fill: transparent;
      stroke: whitesmoke;
      stroke-width: 4px;
      stroke-linecap: round;
  }

  .word > p,
  .message,
  .word-answer,
  .wrong-chars,
  .restart-btn {
    font-size: 25px;
  }

  .attempts {
    font-size: 40px;
  }

  .attempts-container {
    margin-left: 50px;
  }

}

@media (max-width: 800px) {
  .title {
    font-size: 30px;
  }

  .figure-container{
    display: none;
  }

  .mob-fig-container{
      fill: transparent;
      stroke: whitesmoke;
      stroke-width: 4px;
      stroke-linecap: round;
  }

  .word > p,
  .message,
  .word-answer,
  .wrong-chars,
  .restart-btn {
    font-size: 20px;
  }

  .attempts {
    font-size: 35px;
  }

  .attempts-container {
    margin-left: 0px;
  }

  .body-container {
    display: flex;
    flex-direction: column;
  }

  .mid-container {
    padding-left: 0px;
    padding-top: 30px;
    width: auto;
  }

}



